= form_for(@teacher, :url => submit_path, :html => {:method => submit_method, :class => 'pjax'}) do |f|
  = render :partial => 'shared/form_error', :locals => {:obj => @teacher}

  .control-group
    = f.label :first_name, :class => 'control-label'
    .controls
      = f.text_field :first_name, :placeholder => 'Enter First Name', :class => 'text_field'

  .control-group
    = f.label :last_name, :class => 'control-label'
    .controls
      = f.text_field :last_name, :placeholder => 'Enter Last Name', :class => 'text_field'

  .form-actions
    = f.submit 'Save', :class => 'btn btn-primary'
    = link_to 'Cancel', manage_teachers_path, :class => 'btn pjax'