= link_to 'New', new_manage_teacher_path, :class => 'btn btn-primary pull-right pjax'

.page-header
  %h1 Teachers

- if @teachers.any?
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Department
        %th.date Joined At
        %th.actions
    %tbody
      - @teachers.each do |teacher|
        %tr
          %td= link_to teacher.name, manage_teacher_path(teacher) , :class => 'pjax'
          %td= teacher.department_name
          %td= show_date(teacher.joined_at)
          %td.pjax-links
            = link_to 'Edit', edit_manage_teacher_path(teacher), :class => 'btn btn-mini'
            = link_to 'Delete', manage_teacher_path(teacher),  :method => :delete,
            :class => 'btn btn-mini btn-danger', :data => { :confirm => 'Are you sure, you want to delete the teacher?' }

- else
  .empty No question found.