.page-header
  %h1 Teacher Details

%dl.dl-horizontal
  %dt
    %strong Name :
  %dd= @teacher.name

  %dt
    %strong Department :
  %dd= @teacher.department_name

  %dt
    %strong Join Date :
  %dd= show_date(@teacher.joined_at)

.form-actions.pjax-links
  = link_to 'Back', manage_teachers_path, :class => 'btn'
  = link_to 'Edit', edit_manage_teacher_path(@teacher), :class => 'btn'
  = link_to 'Delete', manage_teacher_path(@teacher), :method => 'delete',
  :class => 'btn btn-danger', :data => { :confirm => 'Are you sure, you want to delete the student?' }