= form_for(@question, :url => submit_path, :html => {:method => submit_method, :class => 'pjax form-horizontal'}) do |f|
  = render :partial => 'shared/form_error', :locals => {:obj => @question}

  = hidden_field_tag "question[pick]", 'one'

  .control-group
    = f.label :survey_section_id, 'Section', :class => 'control-label'
    .controls
      - if SurveySection.any?
        = f.select :survey_section_id, SurveySection.all.collect{|s| [s.title, s.id]}, {:include_blank => true}

      #new_section{:style => "display:#{@question.survey_section_id.present? ? 'none' : 'block'};"}
        = f.text_field :survey_section_title, :placeholder => "Enter new section title"

  .control-group
    = f.label :text, 'Label', :class => 'control-label'
    .controls
      = f.text_field :text, :placeholder => 'Enter Label', :class => 'text_field'

  .control-group
    = f.label :is_mandatory, 'Mandatory', :class => 'control-label'
    .controls
      = f.check_box :is_mandatory, {:style => 'margin-top: 10px;'}, "1"

  .control-group
    = f.label :display_type, 'Display Type', :class => 'control-label'
    .controls
      = display_type_buttons(f)

  .form-actions
    = f.submit 'Save', :class => 'btn btn-primary'
    = link_to 'Cancel', manage_questions_path, :class => 'btn pjax'