= link_to 'New', new_manage_question_path, :class => 'btn btn-primary pull-right pjax'

.page-header
  %h1 Questions

- if @questions.any?
  %table.table.table-striped
    %thead
      %tr
        %th Label
        %th Section
        %th.date Date
        %th.actions
    %tbody
      - @questions.each do |question|
        %tr
          %td= link_to question.text, manage_question_path(question)
          %td= question.survey_section.title
          %td= show_date(question.updated_at)
          %td.pjax-links
            = link_to 'Edit', edit_manage_question_path(question), :class => 'btn btn-mini'
            = link_to 'Delete', manage_question_path(question),  :method => :delete,
            :class => 'btn btn-mini btn-danger', :data => { :confirm => 'Are you sure, you want to delete the question?' }

- else
  .empty No question found.