.page-header
  %h4 Survey Result

- if @response_sets.any?
  %table.table.table-striped
    %thead
      %tr
        %th Survey Title
        %th User
        %th.date Started At
        %th.date Completed At
        %th.actions

    %tbody
      - @response_sets.each do |response_se|
        %tr
          %td= link_to(response_se.survey.title, manage_survey_path(response_se.user))
          %td= link_to(response_se.user.name, manage_user_path(response_se.user))
          %td= show_date(response_se.started_at)
          %td= show_date(response_se.updated_at)
          %td.actions
            - details = view_my_survey_path(:survey_code => response_se.survey.access_code,
            :response_set_code => response_se.access_code)
            = link_to('Show', details, :class => 'btn btn-mini')

- else
  .empty No survey result found.