.footer
  .container
    #footer-line
      .pull-left
        = link_to 'Home', root_path
        |
        = link_to 'About', about_path
        |
        = link_to 'Contact', contact_path
        |
        = link_to 'Privacy', privacy_path
        |
        = link_to 'Terms', terms_path

      .pull-right
        Copyright © #{Date.today.year}