= link_to 'New', new_manage_student_path, :class => 'btn btn-primary pull-right pjax'

.page-header
  %h1 Students

- if @students.any?
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th.date Admission Date
        %th.actions
    %tbody
      - @students.each do |student|
        %tr
          %td= link_to student.name, manage_student_path(student), :class => 'pjax'
          %td= show_date(student.admitted_at)
          %td.pjax-links
            = link_to 'Edit', edit_manage_student_path(student), :class => 'btn btn-mini'
            = link_to 'Delete', manage_student_path(student),  :method => :delete,
            :class => 'btn btn-mini btn-danger', :data => { :confirm => 'Are you sure, you want to delete the student?' }

- else
  .empty No question found.