.page-header
  %h1 Student Details

%dl.dl-horizontal
  %dt
    %strong Name :
  %dd= @student.name

  %dt
    %strong Department :
  %dd= @student.department_name

  %dt
    %strong Admission Date :
  %dd= show_date(@student.admitted_at)

.form-actions.pjax-links
  = link_to 'Back', manage_students_path, :class => 'btn'
  = link_to 'Edit', edit_manage_student_path(@student), :class => 'btn'
  = link_to 'Delete', manage_student_path(@student), :method => 'delete',
  :class => 'btn btn-danger', :data => { :confirm => 'Are you sure, you want to delete the student?' }