!!!
%html{:lang => "en"}
  %head
    = render "layouts/head"
    = yield(:head)

  %body
    = render "shared/nav"

    .container.content-container
      = render "shared/flash_messages"
      = yield

    = render 'shared/footer'